<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Member At</th>
      <th>Last Login</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>