<% content_for :title do %>About<% end %>
<h3>About</h3>
<br />
Made and designed with love in Los Angeles, California.
<br />
Email us at <%= mail_to "support@reebreeb.com", "support@reebreeb.com" %>
<br />
Text us at 408-461-9933