default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: rails-devise_development
  username: allanscu
  password:
  host: localhost


test:
  <<: *default
  database: rails-devise_test


production:
  host:  <%= ENV['DATABASE_HOST'] %>
  database: <%= ENV['DATABASE_NAME'] %>
  username: <%= ENV['DATABASE_USER'] %>
  port:  <%= ENV['DATABASE_PORT'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  #uri:  <%= ENV['DATABASE_URI'] %>