<div class="card-stat">
  <div class="card-block-stat">
    <h2>Other useless data</h2>
    # of cans sold:  x
    <br />
    Gross sales to date: $xxxxxx
    <br />
    Most popular style:  
    <br />
    Most popular hop:  
  </div>
</div> 