<div class="row">
	<div class="col-md-10 col-lg-8 text-center">
		<h1><%= @item.name %></h1>
		<h6>Jan 14, 2016</h6>
		<%= @item.description %>
	</div>
</div>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>