.items.index {
  .card {
    border-style: solid;
    border-radius: 0;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 20px;
	  background-color: white;

    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    
    .card-title {
      font-size: 1.3rem;
      margin-bottom: 0;
      a {
        color: black;
        text-decoration: none;
      }
    }

    .card-text {
      font-size: 0.9rem;
      color: black;
    }

    .card-block {
      padding: 10px;
    }
  }
}

.items.show {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
  }

  .card {
    border-style: solid;
    border-radius: 0;
    height: 1000px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;

    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    
    .card-title {
      font-size: 1.3rem;
      margin-bottom: 0;
      a {
        color: black;
        text-decoration: none;
      }
    }

    .card-text {
      font-size: 0.9rem;
      color: black;
    }

    .card-block {
      padding: 10px;
    }
  }

  .card-stat {
    border:1px solid #E5E5E5;
    border-radius: 0;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;

    .card-block-stat {
      padding: 10px;
    }
  }

  .card-graph {
    border:1px solid #E5E5E5;
    border-radius: 0;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;

    .card-block-graph {
      padding: 10px;
    }
  }

  .card-hop {
      border:1px solid #E5E5E5;
      border-radius: 0;
      height: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: white;
      font-size: 12px;

      .card-block-hop {
        padding: 10px;
      }
  }

    .card-style {
      border:1px solid #E5E5E5;
      border-radius: 0;
      height: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: white;

      .card-block-style {
        padding: 10px;
      }
  }
}