<p class="copyright"> <%= Time.current.year %> &copy; All rights reserved
  &nbsp;|&nbsp;
  <a href="#" title="some title here..." target="_blank">reebreeb.com</a>
</p>
<a href="#index" class="go2top">
  <i class="icon-arrow-up"></i>
</a>